<!-- templates/profile.html -->
{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">پروفایل {{ user.username }}</h2>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">اطلاعات کاربری</h5>
                <p>نام کاربری: {{ user.username }}</p>
                <p>ایمیل: {{ user.email }}</p>
            </div>
            <div class="container">
                <h2>Edit Your Profile</h2>
                <form action="/edit" method="POST">
                    <input type="text" name="first_name" placeholder="First Name" required value='{{ user.first_name }}'>
                    <input type="text" name="last_name" placeholder="Last Name" required value='{{ user.last_name }}'>
                    <input type="password" name="password" placeholder="Password" required value='{{ user.password_hash }}'>
                    <input type="text" name="email" placeholder="Email" value='{{ user.email }}'>
                    <input type="hidden" name="id" value='{{ user.id }}'>
                    <button type="submit">Update</button>
                </form>
            </div>
            <div class="container">
                <h2>Your Performance Over Time</h2>
                <img src="{{ url_for('plot') }}" alt="Quiz Scores Over Time" class="img-fluid mt-4">
            </div>
        </div>

        <h3>نتایج کوییزها</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>دسته‌بندی</th>
                        <th>امتیاز</th>
                        <th>زمان</th>
                        <th>تاریخ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.category }}</td>
                        <td>{{ result.score }}</td>
                        <td>{{ result.time_taken }} ثانیه</td>
                        <td>{{ result.date.strftime('%Y-%m-%d %H:%M') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="progress-chart" class="mt-4"></div>
    </div>
</div>
{% endblock %}